//Importar a font roboto que está em src/assets/fonts
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

:root{
    --semi-dark: #12181a;
    --semi-light: #F0F3F8;
    --white: #ffffff;
    --black: #000000;
    --gray: #5f5f5f;
    --font-roboto: 'Roboto', sans-serif;
    --quick-silver: #9ea4aa;
    --dark-taupe: #413c3c;
    --font-roboto: 'Roboto', sans-serif;
}

